$color-primary: rgb(34, 222, 97);
$color-secondary: rgb(80, 90, 125);
$color-accent: rgba(0, 213, 255, 0.25);
$buttons-text: #ffffff;
$color-black: #1c1f1d;
$color-danger: rgba(189, 31, 31, 0.737);
$hidden-sections-bg: rgba(0, 213, 255, 0.25);

// Font
$font-primary: 'Quicksand', 'Ubuntu', sans-serif;

// Shadow & border
$shadow: 0px 0px 10px rgba(34, 222, 97, 0.5);
$text-shadow: #22de61;
$border-radius: 10px;
$focus-color: #2244dc;
// Transitions
$transition: all 0.3s ease;