.primaryButton {
  background: linear-gradient(to top, rgb(34, 222, 97), rgb(80, 90, 125));
  color: #fff;
  padding: 10px 20px;
  border: solid 2px rgba(34, 222, 97, 0.5);
  border-radius: 10px;
  cursor: pointer;
  font-size: 70px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(34, 222, 97, 0.5);
  text-shadow: 0px 0px 5px rgba(34, 222, 97, 0.7);
  flex-direction: row;
  transition: all 0.3s ease;
  width: 100%;
  min-width: 50px;
  max-width: 300px;
  height: auto;
}

.secondaryButton {
  background: linear-gradient(to top, rgb(34, 222, 97), rgb(80, 90, 125));
  color: #fff;
  padding: 5px 15px;
  border: solid 2px rgba(34, 222, 97, 0.5);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(34, 222, 97, 0.5);
  text-shadow: 0px 0px 5px rgba(34, 222, 97, 0.7);
  flex-direction: row;
  transition: all 0.3s ease;
  width: 100%;
  min-width: 50px;
  max-width: 300px;
  height: auto;
}

.primaryButton:hover {
  background: linear-gradient(to top, rgba(34, 222, 97, 0.7), rgba(80, 90, 125, 0.7));
}

.primaryButton:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #0151a7;
}

.primaryButton:active {
  transform: scale(0.7);
  background: linear-gradient(to top, rgba(34, 222, 97, 0.4), rgba(80, 90, 125, 0.4));
}

.secondaryButton:hover {
  background: linear-gradient(to top, rgba(34, 222, 97, 0.7), rgba(80, 90, 125, 0.7));
}

.secondaryButton:active {
  transform: scale(0.7);
  background: linear-gradient(to top, rgba(34, 222, 97, 0.4), rgba(80, 90, 125, 0.4));
}

* {
  font-family: "Quicksand", "Ubuntu", sans-serif;
  color: #1c1f1d;
  text-shadow: #22de61 0px 0px 5px;
  line-height: 3;
  text-decoration: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(80, 90, 125), rgb(225, 111, 50));
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header .h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  color: #292b2a;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 10px rgba(34, 222, 97, 0.7);
}

.toggle-heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.toggle-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.toggle-icon {
  transition: transform 0.3s ease;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

/* Rotazione quando attivo */
#instructions:checked + h3 .toggle-label .toggle-icon {
  transform: rotate(90deg);
}

#instructions:checked + .toggle-label .toggle-icon {
  transform: rotate(90deg);
}

#instructions {
  display: none;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  text-shadow: #22de61;
}

.instructions {
  display: none;
  transition: ease-in-out 0.5s;
  border-radius: 10px;
}

#instructions:checked ~ .instructions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#instructions:checked ~ .checkbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#counterDisplay {
  background-image: url(../img/Space-zooming-GIF.gif);
  color: rgba(0, 213, 255, 0.85);
  font-size: 90px;
  text-align: center;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(239, 250, 243, 0.5);
  text-shadow: 0px 0px 10px rgba(57, 59, 57, 0.7);
  width: 70%;
  min-width: 150px;
  max-width: 700px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(222, 181, 34, 0.5);
}

.counterPrimary {
  font-size: larger;
  color: #fff;
  padding: 2% 2%;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(34, 222, 97, 0.5);
  text-shadow: 0px 0px 5px rgba(34, 222, 97, 0.7);
  flex-direction: row;
}

.counterSecondary {
  font-size: larger;
  color: #fff;
  padding: 2% 2%;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(34, 222, 97, 0.5);
  text-shadow: 0px 0px 5px rgba(34, 222, 97, 0.7);
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */